

.navbar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 210px;
    transition:all .55s ease-in;
}
.navlist{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.navright{
    /* opacity: 0; */
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}
.navright input{
    /* width: 100%; */
}

.line{
    width: 33px;
    height: 4px;
    background-color: white;
    margin: 3px 3px;
}
.burger{
    position: absolute;
    right: 5%;
    top: 15px;
    cursor: pointer;
}
.navlist .logo{
    position: absolute;
    left: 5%;
    top: -2px;
}
.navlist li{
    /* opacity: 0; */
}


/* for that 1 icon called hamperdf...  */

.cor1{
    opacity: 0;
}
.cor3{
    height: 52px;
}

/*                         */


.boxmain{
    flex-direction: column-reverse;
    width: 100%;
}
.boxmain .firsthalf{
    margin-top: -250px;
}

.section{
    flex-direction: column-reverse;
}

.paras{
    padding: 0px;
}


.form input ,textarea{
    width: 250px;
    border-radius: 3px;
    border: 3px solid black;
    margin: 15px;
    padding: 6px;
}